body{
    background-color: lightgreen;
}

.container{
    margin: 30vh 40vw;
}

#txt-in{
    text-align: center;
    margin: 2px;
    padding: 1.5px;
}

#btn{
    margin: 2px;
    padding: 1.5px;
}

#head{
    text-align: center;
}", doSomething);